<!-- team -->
<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Moduli</h2>
            </div>
        </div>
        <div class="row padding">
            {% for modulo in site.data.moduli %}
			{% if modulo.type == page.tag %}
            <div class="col-lg-6 col-md-6 text-center">
                <img class="" src="{{ modulo.photo }}"
                    alt="{{ modulo.name }}" >
                <h4>{{ modulo.name }}</h4>
                </a>
            </div>
			{% endif %}
            {% endfor %}
        </div>
        <br>
    </div>
</section>
