<!doctype html>
<html lang="en">

  {% include head-checksig.html %}
  {% include header-checksig.html %}
  {% include script-checksig.html %}

  <body>
    <!-- Begin #title-section -->
    <section id="title-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
				  <!-- - img-->
				  <div class="img-responsive-wrapper" style="">
					<div class="img-responsive">
						<div class="it-hero-text-wrapper bg-dark" style="padding:120px 0px; max-width:800px; margin:0px auto;">
							  <h1 class="no_toc">{{ page.title }}</h1>
							  <p class="d-none d-lg-block">{{ page.subdesc }}</p>
						 </div>
					</div>
				  </div>
				</div>
            </div>
            <div class="row">
				<div class="it-hero-wrapper it-dark it-overlay">
				  <!-- - img-->
				  <div class="img-responsive-wrapper" style="background-image:url(https://via.placeholder.com/1600x400);background-size: auto 100%; height: 400px; background-position: center;">
					<div class="img-responsive">
						<div class="it-hero-text-wrapper bg-dark" style="padding:120px 0px; max-width:800px; margin:0px auto;">
						 </div>
					</div>
				  </div>
				</div>
            </div>
        </div>
    </section>
<!-- institutions -->
<section id="institution" class="institution">
    <div class="container">
		<div class="row">
		<div class="it-hero-wrapper it-dark it-overlay">
		  <!-- - img-->
		  <div class="img-responsive-wrapper" style="">
			<div class="img-responsive">
				<div class="it-hero-text-wrapper bg-dark" style="padding:50px 0px; max-width:800px; margin:0px auto;">
				{{ page.description }}
				 </div>
			</div>
		  </div>
		</div>
	</div>
		
        <br>
    </div>
</section>
<section id="moduli" class="institution">
    <div class="container">
		{% include moduli.html %}
        <br>
    </div>
</section>
<section id="moduli" class="institution">
    <div class="container">
		{{ content }}
        <br>
    </div>
</section>
    
  </body>

  {% include footer.html %}
</html>
